<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<h1> Welcome to Directory CMS demo </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula malesuada nulla at rutrum. Vestibulum lacinia hendrerit neque. Aliquam ac congue metus, et luctus sem. Suspendisse venenatis tristique consectetur. Cras a velit nec velit sollicitudin tincidunt elementum sit amet justo. Nulla vel sagittis sapien. Proin ultricies diam eu justo porta convallis. Integer gravida condimentum tincidunt.

Cras fermentum egestas erat, a tristique mauris ullamcorper ac. Aenean eget viverra enim. Nunc lacinia, lorem at ultrices vestibulum, augue velit luctus ex, at mattis massa felis quis ex. Sed ut placerat nibh, sit amet pulvinar enim. Integer rhoncus a ex nec finibus. Praesent rutrum nec sapien id malesuada. Curabitur posuere, nibh eget condimentum tristique, orci purus porta neque, at egestas orci lacus et leo. Donec lacinia blandit erat efficitur tincidunt. Praesent volutpat orci lorem, non molestie nunc finibus efficitur.

Fusce id lacus lorem. Donec ornare molestie interdum. Curabitur ut nulla ullamcorper, auctor diam non, suscipit sem. Nunc ut pharetra urna, ut pulvinar lorem. Nunc hendrerit nec diam bibendum pretium. Duis leo diam, gravida sollicitudin interdum nec, rhoncus sit amet nibh. Etiam convallis ligula leo, quis imperdiet lacus vehicula vitae. Maecenas lobortis elit et pretium tincidunt. Curabitur eleifend auctor nunc, eu vestibulum mi congue sed. Suspendisse felis mi, tempor non auctor elementum, varius mollis nunc. Cras aliquam varius velit eget consequat. Vivamus non fringilla ante, ut pellentesque nisi. Donec semper accumsan mauris eget convallis. Duis nisl tortor, suscipit eu enim at, varius molestie lacus. Nulla feugiat feugiat metus, vel iaculis erat efficitur nec. </p>

</body>
</html>
